.carousel-sub-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 5px 15px 0 15px;

  .carousel-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: background-image 0.5s ease;
    padding-top: 56.25%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
