.home-container {
  .notification-container {
    margin: 4px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 5px 15px 0 15px;

    .notif-icon {
      font-size: 25px;
      color: #ffd703;
    }

    .notif-label {
      font-size: 14px;
      color: #8fd8ff;
    }
  }

  .feature-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;

    .search-container {
      display: flex;
      flex-direction: row;
    }

    .feature-sub-container {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      overflow: auto;
      padding: 0 10px 0 5px;
    }
  }
}
